html { 
  background: url(../images/jetlag.jpg) no-repeat top center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  float: right;
}

header * {
  display: flex;
  gap: 1em;
  font-size: 0px;
}

header li {
  margin: 20px;
}

header li a {
  color: pink;
  text-shadow: 3px 3px 3px black;
  text-decoration: none;
  font-size: 30px;
}

footer {
  position: absolute;
  bottom: 0px;
  left: 10px;
  right: 10px;
  text-align: center;
  font-size:  28px;
  color: pink;
  margin: 0px;
}

footer a {
  margin-left: 5px;
  margin-right: 5px;
  color: pink;
}

footer a i {
  margin-bottom: 10px;
}